.about-me-container {
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    gap: 50px;
}
.profile-card {
    margin-left: 20px;
}
.icon {
    width: 20px;
    height: 20px;
}
.profile-text {
    font-family: 'KoPubWorld Dotum';
    font-weight: 500;
    font-style: normal;
    margin-left: 15px;
}
.sentence-container {
    font-family: 'KoPubWorld Dotum';
    font-weight: 500;
    font-style: normal;

}
.btn-container {
    font-family: 'KoPubWorld Dotum';
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-left: 15px;
}
.btn-box {
    margin-left:6px;
}