.about-me-container {
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutme-title-text {
    font-family: 'GmarketSansMedium';
    font-weight: 700;
    font-style: normal;
    margin-top: 35px;
}
.about-me-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    gap: 45px;
}
.profile-card {
    margin-left: 20px;
}
.icon {
    width: 20px;
    height: 20px;
}
.my-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.my-info {
    display: flex;
    flex-direction: row;
}
.profile-text {
    font-family: 'GmarketSansMedium';
    font-weight: normal;
    font-style: normal;
    margin-left: 5px;
}
.sentence-container {
    font-family: 'NanumSquareR';
}
.my-main-container {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-bottom: 30px;
}
.my-main-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 10px 0;
}
.btn-container {
    font-family: 'NanumSquareR';
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.btn-box {
    margin-left:6px;
}