.career-container {
    background-color: #FFD35A;
}
.career-title-text {

}
.education-container {
    padding-top: 80px;
    padding-left: 115px;
}
.education-highlight {
    width: 240px;
    height: 1px;
    background-color: #ffeec1;
    position: relative;
    bottom: 13px;
}
.education-content-container {

}
.activity-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 150px;
    margin-right: 115px;
    padding-bottom: 80px;
}
.activity-highlight {
    width: 185px;
}
.activite-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.activite-info {
    display: flex;
    justify-content:flex-end;
    
}
.activite-date-text {
    margin-right: 5px;
}
.activity-link-container {
    margin-right: 280px;
}
.down-arrow-img {
    width: 25px;
}
.activity-link {
    text-decoration-line: none;
    color: black;
    font-weight: 600;
}