.career-container {
    background-color: #FFD35A;
}
.career-title-text {
    font-family: 'Bitgoeul_Bold';
}
.education-container {
    padding-top: 150px;
    padding-left: 130px;
}
.education-highlight {
    width: 240px;
    height: 1px;
    background-color: #ffeec1;
    position: relative;
    bottom: 13px;
}
.education-content-container {
    font-family: 'KoPubWorld Dotum';
    font-weight: 500;
    font-style: normal;
}
.activity-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 150px;
    margin-right: 130px;
    padding-bottom: 70px;
}
.activity-highlight {
    width: 185px;
}
.activite-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'KoPubWorld Dotum';
    font-weight: 500;
    font-style: normal;
}
.activite-info {
    display: flex;
    justify-content:flex-end;
}
.activite-date-text {
    margin-right: 5px;
}