.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-title-text {
    margin-top: 35px;
    font-family: 'Bitgoeul_Bold';
}
.project-radio-box-container {
    display: flex;
    flex-direction: row;
}
.project-radio-box-text {
    font-family: 'KoPubWorld Dotum';
    font-weight: 500;
    font-style: normal;
}
.project-radio-box-input {
    margin-bottom: 17px;
    margin-left: 5px;
}
.highlight {
    width: 1500px;
    height: 1px;
    background-color: rgba(179, 179, 177, 0.155);
    margin-top: 30px;
}
.project-item-container {
    margin: 45px 0;
    align-items: center;
    justify-content: center;
}
.project-card-head {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-family: 'KoPubWorld Dotum';
    font-weight: 700;
    font-style: normal;
}
.star{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 15px;
    margin-right: 1px;
}
.project-card-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.project-description {
    padding-top: 20px;
}
.project-information {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.project-information .card-text {
    margin-bottom: 5px;
    list-style-type: disc;
}
.technologies-container {
    display: flex;
    flex: row;
    margin-bottom: 20px;
}
.technology-box {
    margin: 0 2px;
}
.technology-box .card-body{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    background-color: #F5F5F5;
    border-radius: 5px;
}