.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-title-text {
    font-family: 'GmarketSansMedium';
    font-weight: 700;
    font-style: normal;
    margin-top: 35px;
}
.project-radio-box-container {
    display: flex;
    flex-direction: row;
}
.project-radio-box-text {
    font-family: 'NanumSquareAcEB';
    font-size: 17px;
    color: #4C6EF5;
}
.project-radio-box-input {
    margin-bottom: 17px;
    margin-left: 5px;
}
.project-items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.project-item-container {
    margin: 50px 0;
    align-items: center;
    justify-content: center;
}
.github-logo {
    width: 35px;
}
.project-card-head {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}
.star{
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-top: 32px;
    margin-right: 5px;
}
.project-card-title {
    font-family: 'NanumSquareAcB';
    font-size: 23px;
    margin-top: 35px;
    white-space: pre-line;
    display: flex;
    justify-content: center;
    text-align: center;
}
.black-container {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; 
}
.project-cover-container {
    width: 500px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(230, 230, 230, 0.219);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.project-cover-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project-card-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: black;
    font-family: 'NanumSquareR';
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.project-modal-container {
    position: absolute;
    top: 60px;
    left: 350px;
    height: 660px;
    overflow-y: auto;
    z-index: 2;
}
.project-modal-container::-webkit-scrollbar {
    display: none;  /* 웹킷 기반 브라우저에서 스크롤바를 숨김 */
}
.project-description {
    padding-top: 5px;
    color: black;
    font-family: 'NanumSquareR';
    font-size: 16px;
    margin-top: -18px;
}
.project-information {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px; 
    color: black;
    font-family: 'NanumSquareR';
    font-size: 16px;
}
.project-information .card-text {
    margin-bottom: 5px;
    list-style-type: disc;
}
.project-role {
    color: black;
    font-family: 'NanumSquareR';
    font-weight: 700;
    font-size: 16px;
}
.project-notice {
    color: black;
    font-family: 'NanumSquareR';
    font-weight: 700;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: -8px;
}
.project-images-container {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.carousel-slide-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}
@media (min-width: 768px) {
    .carousel-slide-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}
@media (max-width: 767px) {
    .carousel-slide-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}
.project-images-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid rgba(0, 0, 0, 0.341);
    border-width: 0 3px 3px 0;
    border-radius: 2px;
}
.ant-carousel .slick-prev {
    left: 5px; 
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.ant-carousel .slick-next {
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    border-color: rgba(0, 0, 0, 0.142);
}
.technologies-container {
    display: flex;
    flex: row;
    margin-bottom: 5px;
}
.technology-box {
    margin: 0 2px;
}
.technology-box .card-body{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    background-color: #F5F5F5;
    border-radius: 5px;
    color: black;
    font-family: 'NanumSquareR';
}