.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-title-text {
    margin-top: 35px;
    font-family: 'Bitgoeul_Bold';
}
.project-radio-box-container {
    display: flex;
    flex-direction: row;
}
.project-radio-box-text {
    font-family: 'KoPubWorld Dotum';
    font-weight: 500;
    font-style: normal;
}
.project-radio-box-input {
    margin-bottom: 17px;
    margin-left: 5px;
}