/* Main 페이지 폰트, About Me 프로필, Career 제목, Skills 제목, Projects 제목 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareAcB';
    src: url('./fonts/nanum-square/NanumSquare_acB.ttf');
}
@font-face {
    font-family: 'NanumSquareAcEB';
    src: url('./fonts/nanum-square/NanumSquare_acEB.ttf');
}
@font-face {
    font-family: 'NanumSquareAcL';
    src: url('./fonts/nanum-square/NanumSquare_acL.ttf');
}
/* Career 내용 */
@font-face {
    font-family: 'NanumSquareAcR';
    src: url('./fonts/nanum-square/NanumSquare_acR.ttf');
}
/* Skills 뒷면 이름 */
@font-face {
    font-family: 'NanumSquareB';
    src: url('./fonts/nanum-square/NanumSquare_acB.ttf');
}
/* skills 서브 타이틀 */
@font-face {
    font-family: 'NanumSquareEB';
    src: url('./fonts/nanum-square/NanumSquareEB.ttf');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('./fonts/nanum-square/NanumSquareL.ttf');
}
/* About Me 본문, Career 기사 링크, Skills 설명, Project Modal 내용 */
@font-face {
    font-family: 'NanumSquareR';
    src: url('./fonts/nanum-square/NanumSquareR.ttf');
}